@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');

#container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  text-align: center;
  margin: auto;
}


h1 {
  color: #333;
}
form {
  margin-bottom: 20px;
}
input,
textarea {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #f0b4b4;
  border-radius: 5px;
}
.logo-img {
  height: 44px;
}
.entry {
  background-color: #9f9f9f;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.entry h3 {
  margin: 0;
  width: 30%;
  text-align: left;
}
.entry p {
  margin: 0;
  width: 50%;
  text-align: left;
}
.entry button {
  padding: 5px 10px;
  background-color: gray;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.entry button:hover {
  background-color: #c0392b;
}

body {
  background-image: url("{{ url_for('static', filename='sky.jpg') }}");
  background-position: center;
  background-size: auto 100%;
  color: white;
}

.lead {
  color: black; /* p 태그 글자 색상을 검정으로 설정 */
}

.guestbook-container {
  height: 100vh;
}

.guestbook-entries {
  height: 50vh;
  overflow: auto;
}

/* @font-face 규칙 추가 */
@font-face {
  font-family: 'DungGeunMo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'DungGeunMo', Arial, sans-serif;
}