@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');

.background-banner {
  background-image: url("{{ url_for('static', filename='sky.jpg') }}");
  background-position: center;
  background-size: auto 100%;
  color: white;
}

.logo-img {
  height: 44px;
}
.search-form {
  float: right;
}
.clickable-image {
  cursor: pointer;
}
.lead {
  color: black;
}

/* @font-face 규칙 추가 */
@font-face {
  font-family: 'DungGeunMo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.nav-hover {
  border-radius: 16px;
}

.nav-hover:hover {
  transition: background-color 0.3s ease;
  background-color: rgba(200, 200, 200, 0.3);
}

* {
  font-family: 'DungGeunMo', Arial, sans-serif;
}
.btn.btn-danger {
  background-color: #dc3545; /* 배경색 */
  border-color: #525252; /* 테두리 색 */
  color: white; /* 글자색 */
}

.clickable-image {
  transition: transform 0.3s ease;
}

.clickable-image:hover {
  transform: scale(1.1);
}

/* 검색 창 스타일 */
.search-form {
  margin-top: 20px; /* 위쪽 여백 추가 */
  text-align: center; /* 텍스트 가운데 정렬 */
}

.search-form input[type='text'] {
  width: 300px; /* 검색 입력창 너비 설정 */
  padding: 10px; /* 내부 여백 설정 */
  border: 1px solid #ccc; /* 테두리 스타일 설정 */
  border-radius: 30px; /* 테두리 둥글기 설정 */
}

.search-form button {
  background-color: #dc3545; /* 배경색 설정 */
  color: white; /* 글자색 설정 */
  border: none; /* 테두리 없음 */
  padding: 10px 20px; /* 내부 여백 설정 */
  cursor: pointer; /* 마우스 호버 시 커서 모양 변경 */
  border-radius: 5px; /* 버튼 둥글기 설정 */
}

.delete-button:hover,
.add-button:hover,
.search-button:hover {
  background-color: #ff5b5b; /* 호버 시 배경색 변경 */
}

.link-card {
  overflow: hidden;
  padding: 0;
  margin: 8px 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: 440px;
  width: 260px;
  border-radius: 10px;
}

@media (max-width: 750px) {
  .link-card {
    width: 400px;
  }
}
.link-card:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.card-text,
.card-artist {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
